*{
    margin: 0;
    padding: 0;
    text-decoration: none;
}

body {
    margin: 0;
}

.nav{
    position: fixed;
    width: 100%;
    background-color: white;
    padding: 0;
}

.nav #img1{
    position: relative;
    display: block;
    width: 50px;
    margin-left: 50px;
    margin-top: 7px;
}

.nav ul .li{
    position: relative;
    text-decoration: none;
    list-style-type: none;
    margin-left: 42.5rem;
    margin-top: -47px;
}

.nav ul .li a{
    text-decoration: none;
    padding: 15px;
    color: #F05947;
    font-family: Lato;
    font-weight: bold;
}



.nav #line1 {
    position: absolute;
    height: 25px;
    width: 1px;
    margin-top: -34px;
    margin-left: 47.5rem;
    background-color: #F05947;
}

.nav #line2 {
    position: absolute;
    height: 25px;
    width: 1px;
    margin-top: -34px;
    margin-left: 55rem;
    background-color: #F05947;
}

.nav #line3 {
    position: absolute;
    height: 25px;
    width: 1px;
    margin-top: -34px;
    margin-left: 61.8rem;
    background-color: #F05947;
}

.nav #line4 {
    position: absolute;
    height: 25px;
    width: 1px;
    margin-top: -34px;
    margin-left: 69rem;
    background-color: #F05947;
}

.nav #img2 {
    position: absolute;
    width: 25px;
    margin-left: 113rem;
    margin-top: -45px;
}

.nav .h61{
    position: absolute;
    list-style-type: none;
    width: 25px;
    margin-left: 115rem;
    margin-top: -43px;
    font-family: lato;
    font-weight: bold;
    color: #F05947;
}

.nav svg{
    color: #f9f9f994;
    margin-left: 2px;
}

.nav svg:hover {
    color: #f9f9f9;
    transform: rotate(90deg);
    transition: all 0.4s;
}

/*_____________________________ STAYLING SUB _____________________________*/

.nav .sub-drop #line-1{
    position: absolute;
    height: 0.2px;
    width: 100px;
    margin-left: 14px;
    background-color: silver;
}

.nav .sub-drop #line-2{
    position: absolute;
    height: 0.2px;
    width: 100px;
    margin-left: 14px;
    background-color: silver;
}

.nav .sub-content {
    position: absolute;
    font-family: lato;
    top: 38px;
    overflow: hidden;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    max-height: 0;
    transition: 0.2s;
    border-radius: 5px;
    width: 8rem;
    margin-left: -55px;
    font-size: 13.5px;
}



.nav .sub-content #arab{
    margin-left: 60px;
    font-family: 'beIN Black', sans-serif;
}


.nav .sub-content a {
    color: #F05947;
    text-decoration: none;
}

.nav .sub-drop {
    padding: 0;
}

.nav .sub-drop ul {
    width: 100%;
    padding: 0;
    margin: 0;
    list-style-type: none;
}

.nav .sub-drop ul li a {
    display: inline-block;
    padding: 10px 20px;
    margin-right: 10px;
    font-family: 'Ubuntu', sans-serif;
}

.nav .sub-drop ul li :hover {
    color: #4D3CF0;
    transition: 0.3s;
}

/*_____________________________ CONTROLING _____________________________*/

.nav  ul li:hover .menu-item{
    color: #4D3CF0;
    transition: 0.2s;
}

.nav  ul li:hover .sub-content{
    max-height: 400px;
    transition: max-height 0.2s ease-in;
    -webkit-transition: max-height 0.3s ease-in;
    -moz-transition: max-height 0.3s ease-in;
}




/*----------------------------------------------------------------------------------------*/

.nav  svg{
    color: #F05947;
    position: absolute;
    margin-left: 5px;
    transition: all 0.4s;
    display: block;
    margin-left: 30px;
    margin-top: -32px;
}
.nav  svg:hover{
    color: #4D3CF0;
    transform: rotate(90deg);
    transition: all 0.4s;
}


.nav  > ul {
    margin: 0;
    padding: 0;
    float: left;
    list-style-type: none;
}

.nav  > ul > li {
    float: left;
}

.nav .menu-item {
    display: inline-block;
    height: 40px;
    margin-top: -15px;
    line-height: 50px;
    color: #F05947;
    text-decoration: none;
    transition: all 0.6s;
    font-family: lato;
    font-weight: bold;
}

.nav .h61 .menu-item:hover {
    color: #4D3CF0;
    
}

.nav ul li:hover svg{
    transform: rotate(90deg);
    color: #4D3CF0;
}
/*-------------------------------------------*/

.sidebar{
    z-index: 3;
    position: fixed;
    left: 2000px;
    width: 2000px;
    height: 100%;
    margin-left: 800px;
    background: white;
    transition: all 0.5s ease;
    font-size: 30px;
}

.sidebar #B1{
    display: block;
    color: #F05947;
    height: 90px;
    width: 100%;
    line-height: 90px;
    border-left: 5px solid transparent;
    box-sizing: border-box;
    transition: all 0.5s ease;
    font-family: lato;
    font-weight: bold;
}

.sidebar #B1 span{
    margin-left: 10px;
}
#i{
    margin-left: 10rem;
    letter-spacing: 10rem;
}
.sidebar #B1 #i{
    width: 100px;
}

#B1:hover, #B1.active{
    border-left: 5px solid #F05947;
    background: #f1f2f6;
}


.sidebar #B1 i{
    font-size: 23px;
    margin-right: 16px;
}

.sidebar #B1 span{
    letter-spacing: 1px;
    text-transform: uppercase;
}

#check{
    display: none;
}

label #btn, label #cancel{
    z-index: 5;
    position: absolute;
    cursor: pointer;
    background: #F05947;
    height: 30px;
    width: 30px;
    text-align: center;
    line-height: 33px;
    color: white;
    font-size: 20px;
    border-radius: 5px;
    margin: 10px 30px;
    border: 1px solid #F05947;
    transition: all 0.5s ease;
    left: 1850px;
}

label #cancel{
    opacity: 0;
    visibility: hidden;
}

#check:checked ~ label #btn{
    margin-left: -1085px;
    opacity: 0;
    visibility: hidden;
}

#check:checked ~ label #cancel{
    margin-left: -1085px;
    opacity: 1;
    visibility: visible;
}

#check:checked ~ .sidebar{
    left: 0;
}

.box1{
    display: none;
}

/*
.nav h6 {
    position: absolute;
    width: 25px;
    margin-left: 115rem;
    margin-top: -52px;
    font-family: lato;
    font-weight: bold;
    color: #F05947;
}
*/
.section-1 .sec-1_img #s-1_img{
    position: relative;
    width: 100%;
    margin-top: 70px;
    padding: 0;
    z-index: -1;
}


.section-1 .our_work{
    position: absolute;
    padding: 0;
    list-style-type: none;
    margin-top: -20rem;
    margin-left: 50px;
}

.section-1 .our_work #work{
    color: white;
    width: 80rem;
    margin-top: -20rem;
    position: absolute;
    list-style-type: none;
    font-size: 12rem;
    font-family: 'beIN Black', sans-serif;
    font-weight: bold;
}

.section-1 .our_work .ouality{
    position: absolute;
    width: 50rem;

    font-size: 45px;
    font-family: lato;
    font-weight: 100;
    color: white;
}

.section-1 .our_work .ouality span{
    font-family: lato;
    font-weight: 500;
}

.section_1 .Left-Right {
    position: absolute;
    margin-top: -78px;
    background-color: #F05947;
}

.section-1 .Right {
    position: absolute;
    margin-top: -78.4px;
}

.section-1 .Right #Right1{
    margin-left: 104.5rem;
}

/*_________________NAVBARE__________________*/

.navegation-icons ul{
    position: relative;
    display: flex;
    gap: 25px ;
    margin-left: 50rem;
    margin-top: -40px;
}

.navegation-icons ul li {
    position: relative;
    list-style: none;
    width: 50px;
    height: 50px;
    border-radius: 60px;
    background-color: #ffffff;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 10px 25px rgba(0,0,0,1,1);
    transition: 0.5s;
}

.navegation-icons ul li:hover{
    width: 180px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0,1);
}

.navegation-icons ul li::before{
    content: '';
    position: absolute;
    inset: 0;
    border-radius: 0px;
    background: #ffffff;
    opacity: 0;
    transition: 0.5s;
}

.navegation-icons ul li:hover::before{
    opacity: 1;  
}

.navegation-icons ul li::after {
    content: '';
    position: absolute;
    top: 10px;
    width: 100%;
    height: 100%;
    border-radius: 60px;
    background: linear-gradient(45deg,var(--i),var(--j));
    transition: 0.5s;
    filter: blur(15px);
    z-index: -1;
    opacity: 0;
}

.navegation-icons ul li:hover::after{
    opacity: 0.2;
}

.navegation-icons ul li #img10 {
    width: 33px;
    transition: 0.5s;
}

.navegation-icons ul li:hover #img10{
    transform: scale(0);
    color: #ffffff;
    transition-delay: 0s;
}

.navegation-icons ul li span {
    position: absolute;
}

.navegation-icons ul li .title{
    color: #4D3CF0;
    font-size: 14px;
    font-family: lato;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    transform: scale(0);
    transition: 0.5s;
    transition-delay: 0s;
}

.navegation-icons ul li .title a{
    text-decoration: none;
    color: #4D3CF0;
}

.navegation-icons ul li:hover .title{
    transform: scale(1);
    transition-delay: 0.25s;
}

/*------------------------------*/

.container{
    height: auto;
    margin-left: 85rem;
    margin-top: -42rem;
    width: 23rem;
}

.slider-container{
    max-width: 800px;
    height: auto;
    margin: auto;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

#img-0{
    width: 100%;
    vertical-align: middle;
}

.prev-button,
.next-button{
    margin-top: 36.8rem;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    position: absolute;
    transition: color 0.3s ease;
    /*---------------------------------------*/
}

.prev-button{
    left: 120px;
}

.next-button{
    right: 120px;
}

.prev-button:hover,
.next-button:hover{
    color: white;
}

.lines{
    position: absolute;
    display: flex;
    bottom: 1px;
}

.line{
    padding: 1.5px 10px;
    margin: 0 3px;
    background-color: white;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.active,
.line:hover{
    background-color: #F05947;
}

.slider{
    display: none;
    animation-name: fade;
    animation-duration: 0.5s;
}

@keyframes fade{
    from{
        opacity: 0.5;
    }
    to{
        opacity: 1;
    }
}

/*for Responsive*/
@media (max-width: 700px){
    h1{
        font-size: 20px;
    }
    .prev-button,
    .next-button{
    font-size: 20px;
    }
    .line{
        padding: 1px 8px;
    }
}

/*----------------4K 2560-------------------*/
@media screen and (min-width: 2560px) and (max-width: 2600px){
    .navegation-icons ul{
        position: relative;
        display: flex;
        gap: 30px ;
        margin-left: 70rem;
        margin-top: -40px;
    }
    .nav #img1{
        position: relative;
        display: block;
        width: 50px;
        margin-left: 90px;
        margin-top: 7px;
    }
    .nav #img2 {
        position: absolute;
        width: 30px;
        margin-left: 148rem;
        margin-top: -45px;
    }
    
    .nav .h61{
        position: absolute;
        list-style-type: none;
        width: 25px;
        font-size: 18px;
        margin-left: 150.5rem;
        margin-top: -43px;
        font-family: lato;
        font-weight: bold;
        color: #F05947;
    }
    .section-1 .sec-1_img #s-1_img{
        width: 100%;
        z-index: -1;
    }
    .section-1 .our_work ul{
        position: absolute;
        margin-top: -40rem;
        margin-left: 190px;
    }
    .section-1 .our_work ul #work{
        font-size: 14rem;
    }
    .section-1 .our_work ul li{
        font-size: 55px;
        margin-top: -160px;
    }
    .section-1 .our_work ul li span{
        font-weight: 700;
    }
    .container{
        height: auto;
        margin-left: 110rem;
        margin-top: -58rem;
        width: 35rem;
    }
    .section-1 .Right #Right1{
        position: absolute;
        margin-left: 152.3rem;
        margin-top: 0.1rem;
    }
    .section-1 .Right #Left1{
        position: absolute;
        margin-top: 0.1rem;
    }
    #img-0{
        width: 100%;
        vertical-align: middle; 
    }

    .prev-button,
    .next-button{
    width: 10%;
    margin-top: 45rem;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    position: relative;
    transition: color 0.3s ease;
    }
    .lines{
        position: absolute;
        padding: auto;
        bottom: 1px;
    }
    .prev-button{
        position: absolute;
        left: 13.5rem;
        margin-bottom: -100px;
    }
    
    .next-button{
        position: absolute;
        margin-bottom: -100px;
        right: 13rem;
    }
}

/*-------------------Laptop L 1440--------------------*/
@media screen and (min-width: 1440px) and (max-width: 1629px){
    .nav{
        position: fixed;
        width: 100%;
        background-color: white;
        padding: 0;
        height: 1px;
    }
    .nav #img1{
        position: relative;
        display: block;
        width: 40px;
        margin-left: 50px;
        margin-top: 7px;
    }
    .navegation-icons ul{
        position: relative;
        display: flex;
        gap: 10px ;
        margin-left: 35.8rem;
        margin-top: -40px;
    }
    .nav #img2 {
        position: absolute;
        width: 23px;
        margin-left: 83rem;
        margin-top: -38px;
    }
    
    .nav .h61{
        position: absolute;
        list-style-type: none;
        width: 25px;
        margin-left: 84.5rem;
        font-size: 15px;
        margin-top: -38px;
        font-family: lato;
        font-weight: bold;
        color: #F05947;
    }
    .nav svg{
        color: #F05947;
        margin-left: 20px;
        width: 12px;
    }
    .section-1 .sec-1_img #s-1_img{
        width: 100%;
        z-index: -1;
        margin-top: 60px;
    }
    .section-1 .our_work ul{
        position: absolute;
    }
    .section-1 .our_work ul #work{
        font-size: 8.5rem;
        margin-top: 2rem;
        margin-left: -8px;
    }
    .section-1 .our_work ul li{
        font-size: 30px;
        margin-left: 10px;
        margin-top: -100px;
    }
    .section-1 .our_work ul li span{
        font-weight: 500;
    }
    .container{
        height: auto;
        margin-left: 58rem;
        margin-top: -48rem;
        width: 25rem;
    }
    .section-1 .Right #Right1{
        position: absolute;
        margin-left: 85rem;
        width: 80px;
        margin-top: 26.1px;
    }
    .section-1 .Right #Left1{
        position: absolute;
        width: 80px;
        margin-top: 26.1px;
    }

    #img-0{
        width: 67%;
        vertical-align: middle; 
        margin-top: 16rem;
        margin-left: 50px;
    }
    .prev-button,
    .next-button{
    margin-top: 45rem;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    position: relative;
    transition: color 0.3s ease;
    }
    .lines {
        position: absolute;
        bottom: -2px;
        margin-left: -15px;
    }
    .prev-button{
        position: absolute;
        margin-bottom: 20px;
        left: 8rem;
    }
    
    .next-button{
        position: absolute;
        margin-bottom: 20px;
        left: 12rem;
    }
}

/*-----------Laptop 1024 ---------------------------*/
@media screen and (min-width: 1024px) and (max-width: 1100px){
    .nav{
        position: fixed;
        width: 100%;
        background-color: white;
        padding: 0;
        height: 1px;
    }
    .nav #img1{
        position: relative;
        display: block;
        width: 40px;
        margin-left: 50px;
        margin-top: 7px;
    }
    .navegation-icons ul{
        position: relative;
        display: flex;
        gap: 10px ;
        margin-left: 35.8rem;
        margin-top: -40px;
    }
    .nav #img2 {
        position: absolute;
        width: 22px;
        margin-left: 83.2rem;
        margin-top: -38px;
    }
    
    .nav .h61{
        position: absolute;
        list-style-type: none;
        width: 25px;
        margin-left: 84.9rem;
        font-size: 15px;
        margin-top: -38px;
        font-family: lato;
        font-weight: bold;
        color: #F05947;
    }
    .nav svg{
        color: #F05947;
        margin-left: 15px;
        width: 50px;
    }
    .section-1 .sec-1_img #s-1_img{
        width: 140.5%;
        z-index: -1;
        margin-top: 60px;
    }
    .section-1 .our_work ul{
        position: absolute;
    }
    .section-1 .our_work ul #work{
        font-size: 8.5rem;
        margin-top: 2rem;
        margin-left: -8px;
    }
    .section-1 .our_work ul li{
        font-size: 30px;
        margin-left: 10px;
        margin-top: -100px;
    }
    .section-1 .our_work ul li span{
        font-weight: 500;
    }
    .container{
        height: auto;
        margin-left: 62rem;
        margin-top: -48rem;
        width: 25rem;
    }
    .section-1 .Right #Right1{
        position: absolute;
        margin-left: 85rem;
        width: 80px;
        margin-top: 26.1px;
    }
    .section-1 .Right #Left1{
        position: absolute;
        width: 80px;
        margin-top: 26.1px;
    }

    #img-0{
        width: 67%;
        vertical-align: middle; 
        margin-top: 16rem;
        margin-left: 50px;
    }
    .prev-button,
    .next-button{
    margin-top: 45rem;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    position: relative;
    transition: color 0.3s ease;
    }
    .lines {
        position: absolute;
        bottom: -2px;
        margin-left: -15px;
    }
    .prev-button{
        position: absolute;
        margin-bottom: 20px;
        left: 8rem;
    }
    
    .next-button{
        position: absolute;
        margin-bottom: 20px;
        left: 12rem;
    }
}

/*---------------tablet 768 --------------------*/
@media screen and (min-width: 768px) and (max-width: 800px){
    /*_________________________________________icon left________________________________*/
    .sidebar{
        z-index: 3;
        position: fixed;
        left: 2500px;
        width: 2500px;
        height: 100%;
        margin-left: 500px;
        background: white;
        transition: all 0.5s ease;
        font-size: 31px;
    }
    
    .sidebar #B1{
        display: block;
        color: #F05947;
        height: 100px;
        width: 100%;
        line-height: 6rem;
        border-left: 5px solid transparent;
        box-sizing: border-box;
        transition: all 0.5s ease;
        font-family: lato;
        font-weight: bold;
        padding-left: 16rem;
    }
    
    
    #B1:hover, #B1.active{
        border-left: 5px solid #F05947;
        background: #f1f2f6;
    }
    
    .sidebar #B1 i{
        font-size: 23px;
        margin-right: 25rem;
    }
    
    .sidebar #B1 span{
        letter-spacing: 1px;
        text-transform: uppercase;
        padding-left: 60px;
        padding-top: -25rem;
    }

    .sidebar #B1 #i{
        position: absolute;
        width: 3rem;
        margin-top: 28px;
        margin-left: 5px;
        display: block;
    }

    .sidebar #B1 #i1{
        position: absolute;
        width: 3rem;
        margin-top: 32px;
        margin-left: 5px;
        display: block;
    }

    .sidebar #B1 #i2{
        position: absolute;
        width: 3rem;
        margin-top: 20px;
        margin-left: 5px;
        display: block;
    }

    .sidebar #B1 #i3{
        position: absolute;
        width: 3rem;
        margin-top: 36px;
        margin-left: 5px;
        display: block;
    }

    .sidebar #B1 #i4{
        position: absolute;
        width: 3rem;
        margin-top: 22px;
        margin-left: 5px;
        display: block;
    }

    .sidebar #B1 #i5{
        position: absolute;
        width: 3rem;
        margin-top: 28px;
        margin-left: 5px;
        display: block;
    }

    
    #check{
        display: none;
    }
    
    label #btn, label #cancel{
        z-index: 5;
        position: absolute;
        cursor: pointer;
        background: #F05947;
        height: 40px;
        width: 40px;
        text-align: center;
        line-height: 40px;
        color: white;
        font-size: 26px;
        border-radius: 5px;
        margin: 8px 40px;
        border: 1px solid #F05947;
        transition: all 0.5s ease;
        left: 1100px;
    }
    
    label #cancel{
        opacity: 0;
        visibility: hidden;
    }
    
    #check:checked ~ label #btn{
        margin-left: -655px;
        opacity: 0;
        visibility: hidden;
    }
    
    #check:checked ~ label #cancel{
        margin-left: -655px;
        opacity: 1;
        visibility: visible;
    }
    
    #check:checked ~ .sidebar{
        left: 0;
    }
    
    .box1{
        display: block;
    }

/*--------------------------------------------------*/
.box1 .longvar .h611{
    list-style-type: none;
    margin-left: 5px;
}


.box1 .longvar .h611 #svg1{
    position: absolute;
    color: #F05947;
    margin-top: -0.7rem;
    margin-left: -9.5rem;
    width: 2rem;
    height: 2rem;
}

/*_____________________________ STAYLING SUB _____________________________*/


.box1 .sub-content1 {
    position: absolute;
    font-family: lato;
    overflow: hidden;
    padding-left: 20rem;
    background-color: white;
    max-height: 0;
    transition: 0.2s;
    border-radius: 5px;
    width: 60rem;
    height: auto;
    font-size: 2.5rem;
    line-height: 3rem;
}

.box1 .sub-drop1 ul li a span{
    padding-left: 25px;
}


.box1 .sub-content1 a {
    color: #F05947;
    text-decoration: none;
}

.box1 .sub-drop1 {
    padding: 0;
}

.box1 .sub-drop1 ul {
    width: 100%;
    padding: 0;
    margin: 0;
    list-style-type: none;
}

.box1 .sub-drop1 ul li a {
    display: inline-block;
    padding: 10px 20px;
    font-family: 'Ubuntu', sans-serif;
}


/*_____________________________ CONTROLING _____________________________*/


.box1  ul li:hover .sub-content1{
    max-height: 400px;
    transition: max-height 0.2s ease-in;
    -webkit-transition: max-height 0.3s ease-in;
    -moz-transition: max-height 0.3s ease-in;
}




/*----------------------------------------------------------------------------------------*/

.box1  #svg1{
    color: #F05947;
    position: absolute;
    margin-left: 5px;
    transition: all 0.4s;
    display: block;
}


.box1 .menu-item1 {
    display: inline-block;
    height: 40px;
    color: #F05947;
    text-decoration: none;
    transition: all 0.6s;
    font-family: lato;
    font-weight: bold;
}


.box1 ul li:hover #svg1{
    transform: rotate(90deg);
}

.box1 .longvar .svg2 {
    position: absolute;
    margin-left: 18rem;
    margin-top: -50px;
}

/*_________________________________________icon left___________________________________*/
    .nav{
        position: fixed;
        width: 100%;
        background-color: white;
        padding: 0;
        height: 1px;
    }
    .nav #img1{
        position: relative;
        display: block;
        width: 40px;
        margin-left: 50px;
        margin-top: 7px;
    }
    .navegation-icons ul{
        position: relative;
        display: flex;
        gap: 10px ;
        margin-left: 30rem;
        margin-top: -40px;
        display: none;
    }
    .nav #img2 {
        position: absolute;
        width: 20px;
        margin-left: 70.5rem;
        margin-top: -56px;
        display: none;
    }
    
    .nav .h61{
        position: absolute;
        list-style-type: none;
        width: 25px;
        margin-left: 72rem;
        font-size: 12px;
        margin-top: -57px;
        font-family: lato;
        font-weight: bold;
        color: #F05947;
        display: none;
    }
    .nav svg{
        color: #F05947;
        margin-left: 20px;
        width: 12px;
        display: none;
    }


    .section-1 .sec-1_img #s-1_img{
        width: 160.8%;
        z-index: -1;
        margin-top: 60px;
    }


    .section-1 .our_work ul{
        position: absolute;
    }
    .section-1 .our_work ul #work{
        font-size: 7rem;
        margin-top: 7rem;
        margin-left: -5px;
    }
    .section-1 .our_work ul li{
        font-size: 30px;
        margin-left: 10px;
        margin-top: -80px;
    }
    .section-1 .our_work ul li span{
        font-weight: 500;
    }
    .container{
        height: auto;
        margin-left: 50rem;
        margin-top: -43.8rem;
        width: 23rem;
    }
    .section-1 .Right #Right1{
        position: absolute;
        margin-left: 72.1rem;
        width: 80px;
        margin-top: 27.2px;
    }
    .section-1 .Right #Left1{
        position: absolute;
        width: 80px;
        margin-top: 27.2px;
    }

    #img-0{
        width: 67%;
        vertical-align: middle; 
        margin-top: 16.5rem;
        margin-left: 50px;
    }
    .prev-button,
    .next-button{
    margin-top: 45rem;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    position: relative;
    transition: color 0.3s ease;
    }
    .lines {
        position: absolute;
        bottom: -2px;
        margin-left: -15px;
    }
    .prev-button{
        position: absolute;
        margin-bottom: 45px;
        left: 8rem;
    }
    
    .next-button{
        position: absolute;
        margin-bottom: 45px;
        left: 12rem;
    }
}

ul.topnav li.dropdown-menu {
    display: none;
}
/*-------------Mobail L _ 425-------------------------*/
@media screen and (min-width: 300px) and (max-width: 425px){
    .sidebar{
        z-index: 3;
        position: fixed;
        left: 2000px;
        width: 2000px;
        height: 100%;
        margin-left: 800px;
        background: white;
        transition: all 0.5s ease;
        font-size: 80px;
    }
    
    .sidebar #B1{
        display: block;
        color: #F05947;
        height: 250px;
        width: 100%;
        line-height: 16rem;
        border-left: 5px solid transparent;
        box-sizing: border-box;
        transition: all 0.5s ease;
        font-family: lato;
        font-weight: bold;
        padding-left: 14rem;
    }
    
    
    #B1:hover, #B1.active{
        border-left: 5px solid #F05947;
        background: #f1f2f6;
    }
    
    .sidebar #B1 i{
        font-size: 23px;
        margin-right: 25rem;
    }
    
    .sidebar #B1 span{
        letter-spacing: 1px;
        text-transform: uppercase;
        padding-left: 60px;
        padding-top: -25rem;
    }

    .sidebar #B1 #i{
        position: absolute;
        width: 8rem;
        margin-top: 65px;
        margin-left: -6rem;
        display: block;
    }

    .sidebar #B1 #i1{
        position: absolute;
        width: 8rem;
        margin-top: 75px;
        margin-left: -6rem;
        display: block;
    }

    .sidebar #B1 #i2{
        position: absolute;
        width: 8rem;
        margin-top: 48px;
        margin-left: -6rem;
        display: block;
    }

    .sidebar #B1 #i3{
        position: absolute;
        width: 8rem;
        margin-top: 90px;
        margin-left: -6rem;
        display: block;
    }

    .sidebar #B1 #i4{
        position: absolute;
        width: 7.5rem;
        margin-top: 50px;
        margin-left: -6rem;
        display: block;
    }

    .sidebar #B1 #i5{
        position: absolute;
        width: 7.5rem;
        margin-top: 65px;
        margin-left: -6rem;
        display: block;
    }

    
    #check{
        display: none;
    }
    
    label #btn, label #cancel{
        z-index: 5;
        position: absolute;
        cursor: pointer;
        background: #F05947;
        height: 60px;
        width: 60px;
        text-align: center;
        line-height: 58px;
        color: white;
        font-size: 40px;
        border-radius: 5px;
        margin: 30px 30px;
        border: 1px solid #F05947;
        transition: all 0.5s ease;
        left: 1550px;
    }
    
    label #cancel{
        opacity: 0;
        visibility: hidden;
    }
    
    #check:checked ~ label #btn{
        margin-left: -850px;
        opacity: 0;
        visibility: hidden;
    }
    
    #check:checked ~ label #cancel{
        margin-left: -850px;
        opacity: 1;
        visibility: visible;
    }
    
    #check:checked ~ .sidebar{
        left: 0;
    }
    
    .box1{
        display: block;
    }
/*------------------------------------------------*/


    /*----------------*/  
    .nav{
        position: fixed;
        width: 399%;
        background-color: white;
        padding: 0;
        height: 120px;;
        position: relative;
    }
    .nav #img1{
        position: relative;
        display: block;
        width: 95px;
        margin-left: 30px;
        margin-top: 0px;
        padding-top: 8px;
    }
    .navegation-icons ul{
        position: relative;
        display: flex;
        gap: 10px ;
        margin-left: 430px;
        margin-top: -40px;
        display: none;
    }
    .nav #img2 {
        position: absolute;
        width: 30px;
        margin-left: 63.5rem;
        margin-top: -60px;
        display: none;
    }
    
    .nav .h61{
        position: absolute;
        list-style-type: none;
        width: 25px;
        margin-left: 66rem;
        font-size: 18px;
        margin-top: -57px;
        font-family: lato;
        font-weight: bold;
        color: #F05947;
        display: none;
    }
    .nav svg{
        color: #F05947;
        margin-left: 20px;
        width: 12px;
        display: none;
    }
/*___________________________________icon left________________________________________*/

.box1 .longvar .h611{
    list-style-type: none;
    margin-left: 5px;
}


.box1 .longvar .h611 #svg1{
    position: absolute;
    color: #F05947;
    margin-top: -6.5rem;
    margin-left: -50px;
    width: 4rem;
    height: 4rem;
}

/*_____________________________ STAYLING SUB _____________________________*/


.box1 .sub-content1 {
    position: absolute;
    font-family: lato;
    overflow: hidden;
    text-align: center;
    background-color: white;
    max-height: 0;
    transition: 0.2s;
    border-radius: 5px;
    width: 60rem;
    height: auto;
    font-size: 6rem;
    line-height: 7rem;
}


.box1 .sub-content1 a {
    color: #F05947;
    text-decoration: none;
}

.box1 .sub-drop1 {
    padding: 0;
}

.box1 .sub-drop1 ul {
    width: 100%;
    padding: 0;
    margin: 0;
    list-style-type: none;
}

.box1 .sub-drop1 ul li a {
    display: inline-block;
    padding: 10px 20px;
    font-family: 'Ubuntu', sans-serif;
}


/*_____________________________ CONTROLING _____________________________*/


.box1  ul li:hover .sub-content1{
    max-height: 400px;
    transition: max-height 0.2s ease-in;
    -webkit-transition: max-height 0.3s ease-in;
    -moz-transition: max-height 0.3s ease-in;
}




/*----------------------------------------------------------------------------------------*/

.box1  #svg1{
    color: #F05947;
    position: absolute;
    margin-left: 5px;
    transition: all 0.4s;
    display: block;
}


.box1 .menu-item1 {
    display: inline-block;
    height: 40px;
    color: #F05947;
    text-decoration: none;
    transition: all 0.6s;
    font-family: lato;
    font-weight: bold;
}


.box1 ul li:hover #svg1{
    transform: rotate(90deg);
}

.box1 .longvar .svg2 {
    position: absolute;
    margin-left: 18rem;
    margin-top: -50px;
}

    /*--------------------------------------------------*/
    .section-1 .sec-1_img #s-1_img{
        display: none;
    }
    body{
        background-image: url(img/Mobile-sec1-bg.png);
        z-index: -2;
        width: 100%;
        background-repeat: no-repeat;
        background-size: 106.3rem;
    }
    .section-1 .our_work ul{
        position: absolute;
    }
    .section-1 .our_work ul #work{/*takmila*/
        font-size: 15rem;
        margin-left: 5rem;
        margin-top: 70rem;
        width: 180%;
        display: flex;
    }
    .section-1 .our_work ul li{
        font-size: 60px;
        margin-left: 15rem;
        margin-top: -12rem;
        width: 170%;
    }
    .section-1 .our_work ul li span{
        font-weight: 500;
    }
    .container{
        height: auto;
        margin-top: -20rem;
        margin-left: 24rem;
        width: 30rem;
    }
    .section-1 .Right #Right1{
        position: absolute;
        margin-left: 93.9rem;
        width: 200px;
        margin-top: 200rem;
    }
    .section-1 .Right #Left1{
        position: absolute;
        width: 200px;
        margin-top: 200rem;
    }

    #img-0{
        width: 200%;
        vertical-align: middle; 
        margin-top: 80rem;
    }
    .prev-button,
    .next-button{
        margin-top: 185rem;
        margin-left: 20rem;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        position: relative;
        transition: color 0.3s ease;
    }
    .lines {
        position: absolute;
        bottom: -10px;
        margin-left: 29rem;
    }
    .lines #li1{
        width: 60px;
        height: 9px;
        margin-left: 20px;
    }
    .prev-button{
        position: absolute;
        margin-bottom: 45px;
        margin-left: 15rem;
    }
    
    .next-button{
        position: absolute;
        margin-bottom: 45px;
    }
    .prev-button #li2{
        position: absolute;
        width: 8rem;
        margin-left: 50px;
    }
    .next-button #li3{
        position: absolute;
        width: 8rem;
        margin-left: 25rem;
    }
    
}

/*--------------------------------------------------Mobail M 375-------------------------------------------*/
@media screen and (min-width: 375px) and (max-width: 400px){
    .sidebar{
        z-index: 3;
        position: fixed;
        left: 1000px;
        width: 1000px;
        height: 100%;
        margin-left: 600px;
        background: white;
        transition: all 0.5s ease;
        font-size: 80px;
    }
    
    .sidebar #B1{
        display: block;
        color: #F05947;
        height: 250px;
        width: 100%;
        line-height: 16rem;
        border-left: 5px solid transparent;
        box-sizing: border-box;
        transition: all 0.5s ease;
        font-family: lato;
        font-weight: bold;
        padding-left: 14rem;
    }
    
    
    #B1:hover, #B1.active{
        border-left: 5px solid #F05947;
        background: #f1f2f6;
    }
    
    .sidebar #B1 i{
        font-size: 23px;
        margin-right: 25rem;
    }
    
    .sidebar #B1 span{
        letter-spacing: 1px;
        text-transform: uppercase;
        padding-left: 60px;
        padding-top: -25rem;
    }

    .sidebar #B1 #i{
        position: absolute;
        width: 8rem;
        margin-top: 65px;
        margin-left: -6rem;
        display: block;
    }

    .sidebar #B1 #i1{
        position: absolute;
        width: 8rem;
        margin-top: 75px;
        margin-left: -6rem;
        display: block;
    }

    .sidebar #B1 #i2{
        position: absolute;
        width: 8rem;
        margin-top: 48px;
        margin-left: -6rem;
        display: block;
    }

    .sidebar #B1 #i3{
        position: absolute;
        width: 8rem;
        margin-top: 90px;
        margin-left: -6rem;
        display: block;
    }

    .sidebar #B1 #i4{
        position: absolute;
        width: 7.5rem;
        margin-top: 50px;
        margin-left: -6rem;
        display: block;
    }

    .sidebar #B1 #i5{
        position: absolute;
        width: 7.5rem;
        margin-top: 65px;
        margin-left: -6rem;
        display: block;
    }

    
    #check{
        display: none;
    }
    
    label #btn, label #cancel{
        z-index: 5;
        position: absolute;
        cursor: pointer;
        background: #F05947;
        height: 60px;
        width: 60px;
        text-align: center;
        line-height: 58px;
        color: white;
        font-size: 40px;
        border-radius: 5px;
        margin: 30px 30px;
        border: 1px solid #F05947;
        transition: all 0.5s ease;
        left: 1360px;
    }
    
    label #cancel{
        opacity: 0;
        visibility: hidden;
    }
    
    #check:checked ~ label #btn{
        margin-left: -850px;
        opacity: 0;
        visibility: hidden;
    }
    
    #check:checked ~ label #cancel{
        margin-left: -850px;
        opacity: 1;
        visibility: visible;
    }
    
    #check:checked ~ .sidebar{
        left: 0;
    }
    
    .box1{
        display: block;
    }
/*------------------------------------------------*/


    /*----------------*/  
    .nav{
        position: fixed;
        width: 399%;
        background-color: white;
        padding: 0;
        height: 120px;;
        position: relative;
    }
    .nav #img1{
        position: relative;
        display: block;
        width: 90px;
        margin-left: 30px;
        margin-top: 0px;
        padding-top: 8px;
    }
    .navegation-icons ul{
        position: relative;
        display: flex;
        gap: 10px ;
        margin-left: 430px;
        margin-top: -40px;
        display: none;
    }
    .nav #img2 {
        position: absolute;
        width: 30px;
        margin-left: 63.5rem;
        margin-top: -60px;
        display: none;
    }
    
    .nav .h61{
        position: absolute;
        list-style-type: none;
        width: 25px;
        margin-left: 66rem;
        font-size: 18px;
        margin-top: -57px;
        font-family: lato;
        font-weight: bold;
        color: #F05947;
        display: none;
    }
    .nav svg{
        color: #F05947;
        margin-left: 20px;
        width: 12px;
        display: none;
    }
/*___________________________________icon left________________________________________*/

.box1 .longvar .h611{
    list-style-type: none;
    margin-left: 5px;
}


.box1 .longvar .h611 #svg1{
    position: absolute;
    color: #F05947;
    margin-top: -6.5rem;
    margin-left: -50px;
    width: 4rem;
    height: 4rem;
}

/*_____________________________ STAYLING SUB _____________________________*/


.box1 .sub-content1 {
    position: absolute;
    font-family: lato;
    overflow: hidden;
    text-align: center;
    background-color: white;
    max-height: 0;
    transition: 0.2s;
    border-radius: 5px;
    width: 60rem;
    height: auto;
    font-size: 6rem;
    line-height: 7rem;
}


.box1 .sub-content1 a {
    color: #F05947;
    text-decoration: none;
}

.box1 .sub-drop1 {
    padding: 0;
}

.box1 .sub-drop1 ul {
    width: 100%;
    padding: 0;
    margin: 0;
    list-style-type: none;
}

.box1 .sub-drop1 ul li a {
    display: inline-block;
    padding: 10px 20px;
    font-family: 'Ubuntu', sans-serif;
}


/*_____________________________ CONTROLING _____________________________*/


.box1  ul li:hover .sub-content1{
    max-height: 400px;
    transition: max-height 0.2s ease-in;
    -webkit-transition: max-height 0.3s ease-in;
    -moz-transition: max-height 0.3s ease-in;
}




/*----------------------------------------------------------------------------------------*/

.box1  #svg1{
    color: #F05947;
    position: absolute;
    margin-left: 5px;
    transition: all 0.4s;
    display: block;
}


.box1 .menu-item1 {
    display: inline-block;
    height: 40px;
    color: #F05947;
    text-decoration: none;
    transition: all 0.6s;
    font-family: lato;
    font-weight: bold;
}


.box1 ul li:hover #svg1{
    transform: rotate(90deg);
}

.box1 .longvar .svg2 {
    position: absolute;
    margin-left: 18rem;
    margin-top: -50px;
}

    /*--------------------------------------------------*/
    .section-1 .sec-1_img #s-1_img{
        display: none;
    }
    body{
        background-image: url(img/Mobile-sec1-bg.png);
        z-index: -2;
        width: 100%;
        background-repeat: no-repeat;
        background-size: 93.7rem;
    }
    .section-1 .our_work ul{
        position: absolute;
    }
    .section-1 .our_work ul #work{/*takmila*/
        font-size: 14rem;
        margin-left: 2rem;
        margin-top: 70rem;
        width: 180%;
        display: flex;
    }
    .section-1 .our_work ul li{
        font-size: 60px;
        margin-left: 10rem;
        margin-top: -11rem;
        width: 170%;
    }
    .section-1 .our_work ul li span{
        font-weight: 500;
    }
    .container{
        height: auto;
        margin-top: -23rem;
        margin-left: 20rem;
        width: 30rem;
    }
    .section-1 .Right #Right1{
        position: absolute;
        margin-left: 81.3rem;
        width: 200px;
        margin-top: 179.3rem;
    }
    .section-1 .Right #Left1{
        position: absolute;
        width: 200px;
        margin-top: 179.3rem;
    }

    #img-0{
        width: 180%;
        vertical-align: middle; 
        margin-top: 76rem;
        margin-left: 20px;
    }
    .prev-button,
    .next-button{
        margin-top: 185rem;
        margin-left: 20rem;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        position: relative;
        transition: color 0.3s ease;
    }
    .lines {
        position: absolute;
        bottom: -10px;
        margin-left: 26rem;
    }
    .lines #li1{
        width: 40px;
        height: 9px;
        margin-left: 10px;
    }
    .prev-button{
        position: absolute;
        margin-top: 165rem;
        margin-left: 15rem;
    }
    
    .next-button{
        position: absolute;
        margin-top: 165rem;
    }
    .prev-button #li2{
        position: absolute;
        width: 7rem;
        margin-left: 45px;
    }
    .next-button #li3{
        position: absolute;
        width: 7rem;
        margin-left: 22rem;
    }
    
}

/*____________________________Mobaile S - 320______________________________________________*/
@media screen and (min-width: 320px) and (max-width: 370px){
    .sidebar{
        z-index: 3;
        position: fixed;
        left: 1000px;
        width: 1000px;
        height: 100%;
        margin-left: 500px;
        background: white;
        transition: all 0.5s ease;
        font-size: 65px;
    }
    
    .sidebar #B1{
        display: block;
        color: #F05947;
        height: 250px;
        width: 100%;
        line-height: 16rem;
        border-left: 5px solid transparent;
        box-sizing: border-box;
        transition: all 0.5s ease;
        font-family: lato;
        font-weight: bold;
        padding-left: 14rem;
    }
    
    
    #B1:hover, #B1.active{
        border-left: 5px solid #F05947;
        background: #f1f2f6;
    }
    
    .sidebar #B1 i{
        font-size: 23px;
        margin-right: 25rem;
    }
    
    .sidebar #B1 span{
        letter-spacing: 1px;
        text-transform: uppercase;
        padding-left: 60px;
        padding-top: -25rem;
    }

    .sidebar #B1 #i{
        position: absolute;
        width: 8rem;
        margin-top: 65px;
        margin-left: -6rem;
        display: block;
    }

    .sidebar #B1 #i1{
        position: absolute;
        width: 8rem;
        margin-top: 75px;
        margin-left: -6rem;
        display: block;
    }

    .sidebar #B1 #i2{
        position: absolute;
        width: 8rem;
        margin-top: 48px;
        margin-left: -6rem;
        display: block;
    }

    .sidebar #B1 #i3{
        position: absolute;
        width: 8rem;
        margin-top: 90px;
        margin-left: -6rem;
        display: block;
    }

    .sidebar #B1 #i4{
        position: absolute;
        width: 7.5rem;
        margin-top: 50px;
        margin-left: -6rem;
        display: block;
    }

    .sidebar #B1 #i5{
        position: absolute;
        width: 7.5rem;
        margin-top: 65px;
        margin-left: -6rem;
        display: block;
    }

    
    #check{
        display: none;
    }
    
    label #btn, label #cancel{
        z-index: 5;
        position: absolute;
        cursor: pointer;
        background: #F05947;
        height: 60px;
        width: 60px;
        text-align: center;
        line-height: 58px;
        color: white;
        font-size: 40px;
        border-radius: 5px;
        margin: 30px 30px;
        border: 1px solid #F05947;
        transition: all 0.5s ease;
        left: 1150px;
    }
    
    label #cancel{
        opacity: 0;
        visibility: hidden;
    }
    
    #check:checked ~ label #btn{
        margin-left: -740px;
        opacity: 0;
        visibility: hidden;
    }
    
    #check:checked ~ label #cancel{
        margin-left: -740px;
        opacity: 1;
        visibility: visible;
    }
    
    #check:checked ~ .sidebar{
        left: 0;
    }
    
    .box1{
        display: block;
    }
/*------------------------------------------------*/


    /*----------------*/  
    .nav{
        position: fixed;
        width: 399%;
        background-color: white;
        padding: 0;
        height: 120px;;
        position: relative;
    }
    .nav #img1{
        position: relative;
        display: block;
        width: 90px;
        margin-left: 30px;
        margin-top: 0px;
        padding-top: 8px;
    }
    .navegation-icons ul{
        position: relative;
        display: flex;
        gap: 10px ;
        margin-left: 430px;
        margin-top: -40px;
        display: none;
    }
    .nav #img2 {
        position: absolute;
        width: 30px;
        margin-left: 63.5rem;
        margin-top: -60px;
        display: none;
    }
    
    .nav .h61{
        position: absolute;
        list-style-type: none;
        width: 25px;
        margin-left: 66rem;
        font-size: 18px;
        margin-top: -57px;
        font-family: lato;
        font-weight: bold;
        color: #F05947;
        display: none;
    }
    .nav svg{
        color: #F05947;
        margin-left: 20px;
        width: 12px;
        display: none;
    }
/*___________________________________icon left________________________________________*/

.box1 .longvar .h611{
    list-style-type: none;
    margin-left: 5px;
}


.box1 .longvar .h611 #svg1{
    position: absolute;
    color: #F05947;
    margin-top: -6.5rem;
    margin-left: -50px;
    width: 4rem;
    height: 4rem;
}

/*_____________________________ STAYLING SUB _____________________________*/


.box1 .sub-content1 {
    position: absolute;
    font-family: lato;
    overflow: hidden;
    text-align: center;
    background-color: white;
    max-height: 0;
    transition: 0.2s;
    border-radius: 5px;
    width: 60rem;
    height: auto;
    font-size: 4.7rem;
    line-height: 6rem;
}


.box1 .sub-content1 a {
    color: #F05947;
    text-decoration: none;
}

.box1 .sub-drop1 {
    padding: 0;
}

.box1 .sub-drop1 ul {
    width: 100%;
    padding: 0;
    margin: 0;
    list-style-type: none;
}

.box1 .sub-drop1 ul li a {
    display: inline-block;
    padding: 10px 20px;
    margin-left: -10rem;
    font-family: 'Ubuntu', sans-serif;
}


/*_____________________________ CONTROLING _____________________________*/


.box1  ul li:hover .sub-content1{
    max-height: 400px;
    transition: max-height 0.2s ease-in;
    -webkit-transition: max-height 0.3s ease-in;
    -moz-transition: max-height 0.3s ease-in;
}




/*----------------------------------------------------------------------------------------*/

.box1  #svg1{
    color: #F05947;
    position: absolute;
    margin-left: 5px;
    transition: all 0.4s;
    display: block;
}


.box1 .menu-item1 {
    display: inline-block;
    height: 40px;
    color: #F05947;
    text-decoration: none;
    transition: all 0.6s;
    font-family: lato;
    font-weight: bold;
}


.box1 ul li:hover #svg1{
    transform: rotate(90deg);
}

.box1 .longvar .svg2 {
    position: absolute;
    margin-left: 14rem;
    margin-top: -50px;
}

    /*--------------------------------------------------*/
    .section-1 .sec-1_img #s-1_img{
        display: none;
    }
    body{
        background-image: url(img/Mobile-sec1-bg.png);
        z-index: -2;
        width: 100%;
        background-repeat: no-repeat;
        background-size: 80.1rem;
    }
    .section-1 .our_work ul{
        position: absolute;
    }
    .section-1 .our_work ul #work{/*takmila*/
        font-size: 12rem;
        margin-left: 1rem;
        margin-top: 70rem;
        width: 180%;
        display: flex;
    }
    .section-1 .our_work ul li{
        font-size: 50px;
        margin-left: 8.5rem;
        margin-top: -9rem;
        width: 170%;
    }
    .section-1 .our_work ul li span{
        font-weight: 500;
    }
    .container{
        height: auto;
        margin-top: -25rem;
        margin-left: 16rem;
        width: 30rem;
    }
    .section-1 .Right #Right1{
        position: absolute;
        margin-left: 67.7rem;
        width: 200px;
        margin-top: 157rem;
    }
    .section-1 .Right #Left1{
        position: absolute;
        width: 200px;
        margin-top: 157rem;
    }

    #img-0{
        width: 160%;
        vertical-align: middle; 
        margin-top: 70rem;
        margin-left: 20px;
    }
    .prev-button,
    .next-button{
        margin-top: 185rem;
        margin-left: 20rem;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        position: relative;
        transition: color 0.3s ease;
    }
    .lines {
        position: absolute;
        bottom: -10px;
        margin-left: 20rem;
    }
    .lines #li1{
        width: 30px;
        height: 9px;
        margin-left: 15px;
    }
    .prev-button{
        position: absolute;
        margin-top: 151rem;
        margin-left: 12rem;
    }
    
    .next-button{
        position: absolute;
        margin-top: 151rem;
    }
    .prev-button #li2{
        position: absolute;
        width: 6.5rem;
        margin-left: 45px;
    }
    .next-button #li3{
        position: absolute;
        width: 6.5rem;
        margin-left: 15rem;
    }
    
}
